html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#codename {
	width: 100%;
	height: 100%;
	background-color: black;
	padding: 0px;
	background-image: url("../images/earth.png");
	animation: move-background 120s linear infinite;
}

.menu {
	height: 100px;
	background-color: red;
	z-index: 999;
	position: relative;
}

.chat {
	width: 100%;
	padding: 10px;
	margin: 0px;
	bottom:90px;
	position: absolute;
	display: table;
	/*animation: reduceChatChoice 1s ease-out 3s;
	animation-fill-mode: forwards;*/
}

.choices {
	border-top-color: white;
	border-top-width: 2px;
	border-top-style: solid;
	height:90px;
	width: 100%;
	padding-top: 5px;
	margin: 0px;
	bottom: 0px;
	position: absolute;
	background-image: url("../images/earth.png");
	/*animation: openChoice 1s ease-out 3s;
	animation-fill-mode: forwards;*/
}

.choiceButton {
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px;
	color: white;
	width: 85%;
	/*animation: move 1s ease-out;*/
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: rgba(47, 79, 79, 0.7);
}

.textblock {
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 5px;
	padding: 10px;
	color: white;
	width: 60%;
	/*animation: move 1s ease-out;*/
	position: relative;
	background-color: rgba(47, 79, 79, 0.7);
}

.textblockright {
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 5px;
	padding: 10px;
	color: white;
	width: 60%;
	margin-left: auto;
	margin-right: 20px;
	/*animation: move 1s ease-out;*/
	position: relative;
	text-align: right;
	background-color: rgba(105, 105, 105, 0.7);
}

.avatarLeft {
	float: left;
}

.avatarRight {
	float: right;
}

.avatar {
	height: 100%;
}

.avatar img {
	width: 48px;
	height: 48px;
	transform: translateY(-66%);
    -webkit-transform: translateY(-66%);
}

.chatLine {
	width: inherit;
}

.chatLineWrapper {
	display:table;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	background-color: rgba(255, 255, 255, 0.4);
}

.chatTime {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	color: gray !important;
}

@keyframes move {
	0% {
		top: 1000px;
	}
	100% {
		top: 0px;
	}
}

@keyframes openChoice {
	0% {
		height: 0px;
	}
	100% {
		height: 90px;
	}
}

@keyframes reduceChatChoice {
	0% {
		bottom: 0px;
	}
	100% {
		bottom: 90px;
	}
}

@keyframes move-background {
	0% {
		background-position-x: 0px;
	}
	50% {
		background-position-x: -900px;
	}
	100% {
		background-position-x: 0px;
	}
}





/* BUBBLES */
/* http://codepen.io/Founts/pen/gmhcl */

/* CSS talk bubble */
.talk-bubble {
	position: relative;
	height: auto;
	background-color: lightyellow;
	display: inline-block;
	max-width: 80%;
}

.talk-right {
	background-color: rgb(20, 35, 74);
	color: white;
	float: right;
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: rgb(20, 35, 74) transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 0.5em;
	text-align: left;
  line-height: 1.5em;
}

.talk-right {
	text-align: right;
}

.talktextp{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}





